body {
	background-image : asset-data-url("fond_formulaire.jpg");
    background-size: cover;
    font-family: 'Roboto', sans-serif;
	}

input {
	width: 75%;
	padding: 15px;
}

h2 {
	font-weight: bold;
	font-size: 2.5em;
}

.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}


.global {
	width: 50vw;
    height: 55vh;
    border-radius: 2% 2% 2% 2%;
	display : flex;
	justify-content: space-evenly;
	overflow: hidden;
}
/*
.background {
	background-image : asset-data-url("fond_formulaire.jpg");
	background-size: cover;
	opacity: 0.9;
}
*/
.intro {
	background-color: rgba(18, 122, 241, 0.95 );
	padding-left: 15px;
	width: 55%;
	text-color: #FFF;
	padding-bottom: 10%;
}

.intro i{
	padding-right : 10px;
}


.form {
	background-color: #FFF;
	width: 45%;
	padding-top: 65px;
}

.top {
	height : 70%;
	padding-left: 30px;
}

.action {
	width: 75%;
	padding-bottom: 5px;
}

.bottom {
	text-align: center;
	background-color: #b4b4b4;
	height : 30%;
	padding: 10px;
}